nav {
    background-color: #007bff;
    padding: 10px;
    text-align: center;
  }
  
  NavLink {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-size: 18px;
  }
  
  NavLink:hover {
    text-decoration: underline;
  }